body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Pacifico", cursive;
  color: #333;
  background: linear-gradient(to right, #ff69b4, #ffffff);
}

.header_text {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
